.image{
    max-width: 100%;
    width: 500px;  
}

.margen{
    margin-top: 1%;
    margin-bottom: 5%;
}

.fondo{
    background-color: bisque;
    width: 90%;
    margin-left: 5%;
    
    

}